main {
  position: relative;
  top: 5.4rem;
}

.main__container {
  width: 95%;
  display: grid; 
  grid-template-columns: 5vw auto;
  column-gap: 2rem;
  position: relative;
}

.main-container-left {
  height: max-content;
  position: sticky;
  top: var(--sticky-top-left);
}

.sidebar {
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: 1rem 0 1rem 0;
}

.sidebar-menuitem {
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  transition: all 200ms ease;
  position: relative;
}

.sidebar-menuitem:hover {
  background: var(--color-light);
}

.sidebar-menuitem-icon {
  font-size: 1.4rem;
  color: var(--color-gray);
  margin: 0 0 0 1rem;
}

.sidebar-menuitem h3 {
  margin: 0 0 0 1.5rem;
  font-size: 1rem;
}

.sidebar .active {
  background: var(--color-light);
}

.sidebar .active i, .sidebar .active h3{
  color: var(--color-primary);
}


.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer h4 {
  font-size: 2.4rem;
}

.timer-controls {
  display: flex;
  justify-content: space-around;
}

.timer-controls i {
  color: var(--color-dark);
  font-size: 1.3rem;
}

.main-container-right {
  height: max-content;
  position: sticky;
  top: var(--sticky-top-right);
}

.contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}

.card-head {
  border-bottom: 1px solid var(--color-gray);
}

.card-head-title{
  font-weight: 700;
}

.child {
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  /* height: max-content; */
}

.child-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

/* .contents-child2 {
  grid-column: span 2; // For a grid that needs to take 2 columns
} */

.child-content-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  background-color: var(--color-white);
}

.child1-content {
  height: 77%;
}

.child1-content-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  background-color: var(--color-white);
  font-weight: 700;
}

.clock {
  font-size: 1.8rem;
}

.date {
  font-size: 1rem;
}

.child-content-right {
  display: flex;
  justify-content: space-between;
}

.completed-task {
  font-style: italic;
  text-decoration: line-through;
}

/* WEATHER COMPONENT */
.child2-content-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  background-color: var(--color-white);
}

.child2-content-right {
  display: flex;
  flex-direction: column;
}

.child2-content-right i{
  font-size: 1.6rem;
}

.child2-content-item input[type="text"] {
  background: var(--color-light);
  border-radius: var(--border-radius);
  padding: 0.7rem;
  font-size: 0.8rem;
  color: var(--color-dark);
  max-width: 9rem;
}

.child2-content-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.child2-content-left pre {
  margin-top: 0.4rem;
}

.weather-icon {
  width: 7rem;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.child2-weather, .child2-temperature, .child2-humidity, .child2-sunrise, .child2-sunset {
 display: flex;
 align-items: center;
}


/* MEDIA QUERIES FOR LAPTOPS AND PCS */
@media screen and (max-width: 1200px){
  .main__container {
    grid-template-columns: 4rem auto;
    gap: 1rem;
  }

  .main-container-left {
    width: 5rem;
    z-index: 5;
  }

  .sidebar {
    padding: 0.5rem 0 0.5rem 0;
  }
}

/* MEDIA QUERIES FOR TABLETS AND MOBILE PHONES */
/* 
@media screen and (max-width: 992px){
}
*/
