main {
  position: relative;
  top: 5.4rem;
}

.main__container {
  width: 95%;
  display: grid; 
  grid-template-columns: 5vw auto;
  column-gap: 2rem;
  position: relative;
}

.main-container-left {
  height: max-content;
  position: sticky;
  top: var(--sticky-top-left);
}

.sidebar {
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: 1rem 0 1rem 0;
}

.sidebar-menuitem {
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  transition: all 200ms ease;
  position: relative;
}

.sidebar-menuitem:hover {
  background: var(--color-light);
}

.sidebar-menuitem i {
  font-size: 1.4rem;
  color: var(--color-gray);
  margin: 0 0 0 1rem;
}

.sidebar-menuitem h3 {
  margin: 0 0 0 1.5rem;
  font-size: 1rem;
}

.sidebar .active {
  background: var(--color-light);
}

.sidebar .active i, .sidebar .active h3{
  color: var(--color-primary);
}

.main-container-right {
  height: max-content;
  position: sticky;
  top: var(--sticky-top-right);
}

.contents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}

.child {
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
}

.contents-child2 {
  grid-column: span 2; /* For a grid that needs to take 2 columns */
}

.child3-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.child3-content {
  background-color: var(--color-gray);
}
