.popup {
  background: rgba(255, 255, 255, 0.3);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  display: none;
  place-items: center;
}

.popup-card {
  background: var(--color-white);
  padding: 3rem;
  border-radius: var(--card-border-radius);
  width: 50%;
  box-shadow: 0 0 1rem var(--color-gray);
}

.popup-card h2{
  margin: 0 0 1rem 0;
}

.popup-card p{
  text-align: left;
  margin: 0 0 0.5rem 0;
}

.popup-card input[type="text"], input[type="datetime-local"], .popup-card textarea {
  background: var(--color-light);
  border-radius: var(--border-radius);
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  color: var(--color-dark);
  margin: 0 0 1rem 0;
}

.popup-card textarea {
  resize: none;
}

.popup-card input[type="text"]::placeholder, textarea::placeholder {
  color: var(--color-gray);
}

.popup-card-options i{
  font-size: 1.4rem;
}
