.table {
    border-collapse: collapse;
    margin: 1rem 0;
    font-size: 0.9em;
    min-width: 100%;
}

.table thead tr {
    background-color: var(--color-primary);
    color: var(--color-white);
    text-align: left;
}

.table th,
.table td {
    padding: 0.8rem 1rem;
}

.table tr {
    background-color: var(--color-white);
}

/* .table tbody tr { */
/*     border-bottom: thin solid var(--color-primary); */
/* } */

.table tbody tr:nth-of-type(even) {
    background-color: var(--color-primary-faded);
}

.table tbody tr:hover {
    background-color: var(--color-primary-faded);
}

.table-options {
  display: flex;
  justify-content: flex-start;
}
